/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for Bowtie2 aligner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Configuration for running the RNA-seq pipeline with Bowtie2 aligner.

    Use as follows:
        nextflow run main.nf -profile aligner_bowtie2,conda --input samplesheet.csv

    Or combine with other profiles:
        nextflow run main.nf -profile test_EB1,aligner_bowtie2,conda

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Bowtie2 Aligner Profile'
    config_profile_description = 'Configuration for Bowtie2 non-splice-aware aligner'

    // Input data - using local test samplesheet
    input = 'samplesheet_AT_mm_a4.csv'

    // Aligner selection
    aligner = 'bowtie2'

    // Output directory
    outdir = './results_bowtie2_mm/'

    // Genome references
    // genome = 'GRCm38'
    // igenomes_base = 's3://ngi-igenomes/igenomes'
    // igenomes_reference = 'GRCm38'
    // igv_gff = 'mm_samples/GCF_000001635.27_GRCm39_genomic.gff'

    igenomes_ignore = true
    fasta = "${projectDir}/mm_samples/genome.fa"
    gtf = "${projectDir}/mm_samples/genes.gtf"
    igv_gff = 'mm_samples/GCF_000001635.27_GRCm39_genomic.gff'


    // FastQC options
    fastqc_threads = '32'

    // TrimGalore options
    trimgalore_min_length = '20'
    trimgalore_min_qual = '20'

    // STAR alignment options (used by workflow even with bowtie2)
    readFilesCommand = 'zcat'
    outSAMtype = 'BAM SortedByCoordinate'

    // Picard options
    picard_prefix = 'picard'

    // MERGESTRINGTIE options
    genetable_outfile = 'gene_table_TPM'
}
