/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: TRIMGALORE {
        ext.args   = { [
            params.trimgalore_min_length ? "--length \"$params.trimgalore_min_length\"" : '',
            params.trimgalore_min_qual ? "--quality ${params.trimgalore_min_qual}" : ''
            ].join(' ') }
        publishDir = [
            path: { "${params.outdir}/trimgalore" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: FASTQC {
        ext.args   = { "--quiet" }
        publishDir = [
            path: { "${params.outdir}/fastqc" }
        ]
    }
    withName: 'FASTQC_TRIMMED' {
        ext.args   = { "--quiet" }
        publishDir = [
            path: { "${params.outdir}/fastqc_trimmed" }
        ]
    }
    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'STAR_GENOMEGENERATE' {
        ext.args   = { [
            params.igenomes_reference ? "${params.igenomes_reference}" : ''
        ].join(' ') }
        publishDir = [
            path: { "${params.outdir}/star" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'STAR_ALIGN' {
        ext.args   = { [
            params.readFilesCommand ? "--readFilesCommand ${params.readFilesCommand}" : '',
            params.outSAMtype ? "--outSAMtype ${params.outSAMtype}" : ''
        ].join(' ') }
        publishDir = [
            path: { "${params.outdir}/star" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'PICARD_MARKDUPLICATES' {
        ext.prefix  = { "${meta.id}.${params.picard_prefix}" }
        publishDir = [
            path: { "${params.outdir}/picard" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'STRINGTIE_STRINGTIE' {
        ext.args  = { "" }
        publishDir = [
            path: { "${params.outdir}/stringtie" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'MERGESTRINGTIE' {
        ext.args  = { "" }
        publishDir = [
            path: { "${params.outdir}/gene_table" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'BOWTIE2_BUILD' {
        publishDir = [
            path: { "${params.outdir}/bowtie2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'BOWTIE2_ALIGN' {
        ext.args   = { "--very-sensitive --no-unal --rg-id ${meta.id} --rg SM:${meta.id} --rg PL:ILLUMINA --rg LB:${meta.id}" }
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            path: { "${params.outdir}/bowtie2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'BEDTOOLS_BAMTOBED' {
        publishDir = [
            path: { "${params.outdir}/bedtools" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'IGVREPORTS' {
        publishDir = [
            path: { "${params.outdir}/igv_reports" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
