/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for replicating the RNA-seq pipeline test run
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    This configuration replicates the exact parameters used in the successful test run.
    
    Use as follows:
        nextflow run main.nf -profile test_EB1,conda
    
    Or with explicit parameters:
        nextflow run main.nf --input samplesheet.csv --outdir ./results/ --genome GRCm38 --igenomes_base s3://ngi-igenomes/igenomes -c conf/test_replication.config -profile conda

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test Replication Profile'
    config_profile_description = 'Configuration to replicate successful RNA-seq pipeline test run'

    // Input/Output
    input = 'samplesheet_EB1_test.csv'
    outdir = './results_EB1_test/'
    
    // Reference genome configuration
    genome = 'EB1'
    igenomes_base = 's3://ngi-igenomes/igenomes'
    igenomes_reference = 'EB1'
    
    // FastQC configuration
    fastqc_threads = '32'
    
    // TrimGalore configuration
    trimgalore_min_length = '20'
    trimgalore_min_qual = '20'
    
    // STAR alignment configuration  
    readFilesCommand = 'zcat'
    outSAMtype = 'BAM SortedByCoordinate'
    
    // Picard configuration
    picard_prefix = 'picard'

    // MERGESTRINGTIE options
    genetable_outfile = 'gene_table_TPM'
    
    // Validation
    validate_params = true
}